#mainContainer{
    
}

#searchContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px
}

.searchInput{
    width: 400px;
    height: 25px;
    padding-left: 20px;
    margin-right: 20px;
}

.searchSelect{
    min-width: 100px;
    height: 25px;
}

.btn{
    width: 100px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px
}

.searchInput{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}