body{
    margin-bottom: 50px
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#mainContainer{
    
}

/* Search */

#searchContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px
}

.searchInput{
    width: 400px;
    height: 25px;
    padding-left: 20px;
    margin-right: 20px;
}

.searchSelect{
    min-width: 100px;
    height: 25px;
}

.btn{
    width: 100px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px
}

.searchInput{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#resultsContainer{
}

#resultsTextContainer{
    text-align: start;
    padding: 0px 20px 20px 20px;
}

#resultsTableContainer{
    padding: 0px 20px 20px 20px;
}

.resultsTable{
    border: solid 1px black;
    width: 100%;
    margin: 0px
}

.rowResultTable:hover{
    background-color: #EEEEEE
}

.resultsTable td{
    border-bottom: solid 1px black;
    padding: 5px 20px 5px 20px;
}

.resultsTable td:first-child{
    border-right: solid 1px black;
    text-align: center
}

.resultsTable td:last-child{
    text-align: center;
}

.resultsImg{
    border: solid 1px black;
}

/* Details */

#detailContainer{
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 20px;
    padding: 20px;
}

#contentDetailContainer{
    display: flex;
    flex-direction: column
}

#contentDetailContainer{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}

#durationGenreReleasedDetailContainer{
    margin-top: 15px;
    margin-bottom: 50px
}

.titleDetail{
    font-size: 20px
}

.ratingTextDetail{
    font-size: 20px
}