body{
    margin-bottom: 50px
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#mainContainer{
    
}

/* Search */

#searchContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.searchInput{
    width: 400px;
    max-width: 400px;
    height: 25px;
    padding-left: 20px;
    margin-right: 20px;
}

.searchSelect{
    min-width: 100px;
    height: 25px;
    -webkit-appearance: menulist-button;
}

.btn{
    width: 100px;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px
}

.searchInput{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#resultsContainer{
}

#resultsTextContainer{
    text-align: start;
    padding: 0px 20px 20px 20px;
}

#resultsPaginationContainer{
    text-align: start;
    padding: 0px 20px 20px 20px;
}

#resultsTableContainer{
    padding: 0px 20px 20px 20px;
}

.resultsTable{
    border: solid 1px black;
    width: 100%;
    margin: 0px
}

.rowResultTable:hover{
    background-color: #EEEEEE
}

.resultsTable td{
    border-bottom: solid 1px black;
    padding: 5px 20px 5px 20px;
}

.resultsTable td:first-child{
    border-right: solid 1px black;
    text-align: center
}

.resultsTable td:last-child{
    text-align: center;
}

.resultsImg{
    border: solid 1px black;
    max-width: 100%;
    object-fit: scale-down;
}

/* Details */

#detailContainer{
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 20px;
    padding: 20px;
}

#contentDetailContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 20px;
}

#durationGenreReleasedDetailContainer{
    margin-top: 15px;
    margin-bottom: 50px;
    padding-right: 20px;
}

#imdbRatingContainer{
    padding-right: 20px
}

.titleDetail{
    font-size: 20px
}

.ratingTextDetail{
    font-size: 20px
}

/* Responsive */
@media screen and (max-width: 600px) {
    #searchContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center
    }

    .searchInput, .searchSelect, .btn {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .searchInput{
        padding-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #resultsTextContainer, #resultsPaginationContainer{
        text-align: center;
    }

    #detailContainer{
        flex-direction: column;
    }

    #contentDetailContainer, #imdbRatingContainer{
        align-self: center
    }

    .titleDetail, #durationGenreReleasedDetailContainer, #imdbRatingContainer{
        margin-top: 30px;
        text-align: center
    }

}
